@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 233, 233);
}

/* main Containers y estilos de titulos */

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  max-width: 80vw;
}

.mainTitle {
  color: rgb(17, 17, 95);
  font-weight: 500;
  font-size: 4rem;
  padding: 2rem 0;
  letter-spacing: 0.2rem;
  text-align: center  ;
}

.subTitle {
  font-size: 1.5rem;
  padding: 2rem 0;
}

.monto {
  color: rgb(17, 17, 95);
}

/* Estilos de formulario*/

.indivProduct {
  margin: 1.5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.indivProduct_name {
  font-size: 1.2rem;
}

.indivProduct_quantity {
  width: 2.5rem;
  height: 2rem;
  margin: 0rem 1rem;
  text-align: center;
  border-radius: 5px;
  border: 1px grey solid;
}

.btn_submit {
  display: block;
  margin: 2rem auto;
  padding: 0.5rem 1.2rem;
  background-color: rgb(17, 17, 95);
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.btn_reset {
  display: block;
  margin: 2rem auto;
  padding: 0.5rem 1.2rem;
  background-color: rgb(189, 188, 187);
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
