.cart_shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(170, 164, 164, 0.6);
  transition: $Maintransition;
  //tengo que quitar opacidad ya que el z-index no permite posicionarlo detras del body ya que es su parten. Z-index solo funciona con siblings
  opacity: 0;
  z-index: -1;
}

.cart_shadow_show {
  opacity: 1;
  transition: $Maintransition;
  z-index: 100;
}

.cart_sidebar {
  background-color: $white;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 85%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  //No va Justify-Content:center para evitar que cuando crezca el DIV por tener más productos (al tener que ir los items siempre al centro con espacios iguales a los costados) crezca el espacio vacio exterior empujando items fuera de la pantalla.
  padding: 4rem 1rem;
  overflow: auto;
  transform: translateX(100%);
  transition: $Maintransition;
}

.cart_sidebar_show {
  transform: translateX(0%);
  transition: $Maintransition;
}

.cart_close_icon {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  width: 1.8rem;
}

.checkout_msg {
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.6rem 0.3rem;
  width: 80%;
  text-align: center;
  background-color: rgb(99, 149, 99);
  color: $white;
  border-radius: 5px;
  letter-spacing: 0.1rem;
}

.cart_title {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

.cart_products {
  // Hago que la parte de productos del carrito sea la única que pueda crecer y ocupar más espacio
  flex-grow: 1;
  width: 100%;
  padding: 1rem 1rem;
}

.cart_total {
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1rem 0;
}

.cart_btns {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 0.7rem;
  &_buy {
    font-size: 1rem;
    border: none;
    background-color: $sepia;
    padding: 0.5rem;
    color: $white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 300;
  }
  &_reset {
    @extend .cart_btns_buy;
    background-color: grey;
  }
}

//Cart Product Style inside sidebar

.cart_products_list {
  list-style: none;
  width: 100%;
}

.cart_product {
  display: flex;
  align-items: center;
  padding: 0.3rem 0;

  &_img {
    width: 2.5rem;
    border-radius: 5px;
  }

  &_info {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &_name {
    font-size: 1rem;
    padding-bottom: 0.3rem;
  }
  &_price {
    font-size: 1rem;
    font-weight: 500;
  }
  &_inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
  }

  &_input {
    font-size: 1rem;
    border: none;
    text-align: center;
    -webkit-appearance: none;
    &Up {
      cursor: pointer;
    }
    &Down {
      cursor: pointer;
    }
  }
}
