/* main Containers & Title*/

.mainHeader {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &_img {
    width: 100%;
  }

  margin-bottom: 3rem;
}

.mainTitle {
  color: $white;
  letter-spacing: 0.2rem;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.9rem;
  font-weight: 200;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 1rem;
  width: max-content;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  max-width: 90vw;
}

/*Product Container Style*/

.products_container {
  //width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 16rem);
  grid-auto-rows: 25rem;
  justify-content: center;
  row-gap: 3rem;
  padding: 2rem 0;
}

///*Individual Product Style*////

.indiv_product {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  // box-shadow: 14px 9px 15px -9px rgba(0, 0, 0, 0.25);
  // border: 0.5px solid rgb(228, 226, 226);

  &_img_container {
    height: 70%;
    width: 100%;
  }

  &_img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5px;
  }

  &_info {
    width: 100%;
    padding: 0.5rem 0.2rem;
    display: flex;
    flex-direction: column;
  }

  &_title {
    margin-top: 0.3rem;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
  }

  &_price {
    display: block;
    font-size: 1rem;
    color: $black;
    margin-top: 0.3rem;
    font-weight: 400;
    text-align: center;
  }

  &_buy {
    margin-top: 0.8rem;
    width: 100%;
    background-color: $white;
    filter: brightness(90%);
    border-radius: 5px;
    align-self: center;
    justify-self: end;
    padding: 0.4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgb(232, 228, 228);

    &:hover {
      border: 1px solid $black;
      transition: all 0.15s linear;
      background-color: transparent;
    }

    &_text {
      color: $black;
      font-weight: 400;
      padding-left: 0.5rem;
      cursor: pointer;
    }
    &_img {
      cursor: pointer;
    }
  }
}

//////////////Media Queries////////////////////

@media screen and (min-width: 768px) {
  .mainContainer {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .mainTitle {
    font-size: 2.5rem;
    font-weight: 200;
    padding: 1.5rem;
  }

  .products_container {
    grid-template-columns: repeat(1, minmax(0rem, 18rem));
    padding: 2rem 2rem;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 850px) {
  .mainTitle {
    font-size: 4rem;
  }
  .products_container {
    grid-template-columns: repeat(2, minmax(0rem, 18rem));
  }
}

@media screen and (min-width: 1440px) {
  .products_container {
    grid-template-columns: repeat(3, minmax(0rem, 18rem));
  }
}
