.cartToast {
  color: white;
  background: $black;
  font-size: 0.8rem;
  padding: 1rem;
  max-width: 80%;
  &:hover {
    opacity: 0.8;
  }
}

.checkoutToast {
  color: white;
  padding: 1rem;
  background: $black;
  font-size: 0.9rem;
  max-width: 80%;
}
